body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #313131;
    
}
.container{
    width: 400px;
    margin: 0  auto;
    border: 1px solid lightgray;
}
a{
    text-decoration: none;
    color: inherit;
}

/* ---------------
    Header
------------------ */
header{
    border: 1px solid lightgray;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 22px;
    padding: 10px 0;
}
footer{
    border: 1px solid lightgray;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 22px;
    padding: 10px 0;
}


/* ---------------
    Latest
------------------ */
.home-latest{
    box-sizing: border-box;
    padding: 0;

}
.home-latest .item .image-cover{
    position: relative;
    background-size: cover !important;
    height: 200px;
}
.home-latest .item .description{
    position: absolute;
    bottom: 0;    
}
.home-latest .item .description span{
    background-color: #00BCD4;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    text-align: left;
}
.home-latest .item .description div{
    padding: 10px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 700;
    color: #fff;
    background-color:rgba(53, 53, 53, .64);
    width: 40%;
}
/* ---------------
    Other news
------------------ */
.other-news{
    box-sizing: border-box;
    padding: 10px;
}
.other-news h2{
    font-weight: 300;
    text-align: center;
}
.other-items .item {
    display: flex;
    border: 1px solid #e6e6e6;
}
.other-itemst .item .left{
    flex-grow: 1;
    width: 100px;
    height: 120px;
    background-size: cover !important;
    background-position: center center !important;
    object-fit: cover;
}
.other-items .item .right{
    width: 80%;
    height: 120px;
    box-sizing: border-box;
    position: relative;
    padding: 10px 15px;
}
.other-items .item .right h3{
    margin: 0px;
    font-weight: 300;
    font-size: 18px;
}
.other-items .item .right .category-tag{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #00BCD4;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
}
.other-items .item .right .tags{
    position: absolute;
    bottom: 6px;
}

.other-items .item .right .tags span{
    margin-right: 15px;
    font-size: 12px;
    color: #00BCD4;
}


/* ---------------
    Gallery
------------------ */
.home-gallery{
    text-align: left;
}
.home-gallery h2{
    text-align: center;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 0;

}
.slideImage{
    height: 400px;
    width: 400px;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    object-fit: cover;
}
.slide-cover{
    position: absolute;
    bottom: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 700;
    color: #fff;
    background-color:rgba(53, 53, 53, .64);
    width: 7rem;
}
.slide-desc{
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0;
}



/* ---------------
    News
------------------ */
.new_container .tags{
    background: #f8f8f8;
    padding: 10px;
    color: #c5c5c5;
    font-size: 14px;
}
.new_container .tags span{
    margin-right: 15px;
}

.new_container .top{
    box-sizing: border-box;
    padding: 10px;
}

.new_container.top h2{
    font-weight: 700px;
    font-size: 30px;
    margin: 0;
    line-height: 32px;
}

.new_container .top span{
    color: #00BCD4;
    font-weight: 300;
    font-size: 11px;
    margin-top: 10px;
    display: inline-block;
}
.new_container img{
    width: 100%;
}

.new_container .body_news{
    padding: 20px;
    font-weight: 300;
    font-size: 17px;
    line-height: 2rem;
}


/* ---------------
    Likes Counter
------------------ */
.addLikes-wrapper{
    margin-bottom: 20px;
}
.addLikes-wrapper h2{
    font-weight: 300;
    text-align: center;
}
.addLikes-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addLikes-container .btn{
    cursor: pointer;
    text-align: center;
    background: #f8f8f8;
    flex: 1;
    color: #b6d2e8;
    font-size: 30px;
    padding: 20px;
}
.addLikes-container .btn:hover{
    background: #607d8b;
}
.addLikes-container .btn .like{
    border-right: 1px solid #fff;
}
.addLikes-container .btn .dislike{
    border-right: 1px solid #fff;
}